// Hero
// -------------- //
.hero {
	background: url("../img/hero/1.jpg") no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	// header{
	// 	.container {
			
	// 	}
	// }
}

// Main content
// -------------- //
.main-content {
	background: white;
	padding: 3em 0 4em 0;
}
.main-text {
	@include make-sm-column(8);
	@include make-sm-column-push(4);
}

// Sidebar
// -------------- //
.sidebar {
	@include make-sm-column(4);
	@include make-md-column(3);
	@include make-sm-column-pull(8);
	margin-top: 3em;
}

// Home page
// -------------- //
.home-feature {
	@include make-sm-column(4);
	margin-bottom: 2em;
	.block-title {
		font-size: 24px;
		border-bottom: 2px solid $pale-gray;
		padding-bottom: .25em;
		font-weight: 300;
		i {
			color: #ddd;
			font-size: 36px;
		}
		.fa-wordpress {
			margin-right: .25em;
		}
	}
	.fa-ul {
		margin-left: 1.5em;
		i {
			font-size: 12px;
			color: $light-gray;
		}
		.fa-li {
			top: .5em;
		}
	}
	li {
		margin-bottom: .25em;
	}
}
.search-bar {
	background: #f5f5f5;
	padding: 0 0 1em 0;
}

// Drupal overrides
//--------------------//

body.admin-menu { padding-top: 0 !important; }

#admin-menu li { font-size: 9px; }

.block-simplesamlphp-auth {
	margin: 2em 0 3em 0;
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.hero {
		// background: url("../img//hero/1.jpg") no-repeat 50% 75%;
		// -webkit-background-size: cover !important;
		// -moz-background-size: cover !important;
		// -o-background-size: cover !important;
		// background-size: cover !important;
		header {
			.container {
			 	background: inherit;
			}
		}
	}
	.sidebar {
		margin-top: 0;
	}
	.home-feature {
		.block-title {
			font-size: 18px;
			i {
				font-size: 18px;
			}
		}
	}
	.search-bar {
		padding-bottom: 2em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.home-feature {
		.block-title {
			font-size: 24px;
			i {
				font-size: 24px;
			}
		}
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
	.home-feature {
		.block-title {
			font-size: 26px;
			i {
				font-size: 48px;
			}
		}
	}
}
